.rectangle_1
{
    width: 1650px;
    height: 513px;
    background-color: #8F00FF;
}

.quest
{
    font-family: 'Inter';
    font-size: 30px;
    color: #ffff; 
    stroke: #ffff;
    stroke-width: 10%;
    padding-top: 20px;
    margin-left: 555px;
}

.answer
{
    font-size: 22px;
    color: white;
    margin-top: 40px;
    margin-left: 40px;
}

.answer_second
{
    margin-top: 40px;
}

.numbers
{
    /* font-family: 'Inter'; */
    display: flex;
    margin-top: 150px;
    /* outline: 1px solid #0000; */
}

.ntex_1
{
    margin-left: 200px;
}

.number_1
{
    font-size: 60px;
    color: #BB168D;
    margin-left: -50px;
}

.text_1
{
    font-size: 30px;
    margin-top: 60px;
    margin-left: -150px;
} 

.ntex_2
{
    margin-left: 400px;
}

.number_2
{
    font-size: 60px;
    color: #BB168D;
}

.text_2
{
    font-size: 30px;
    margin-top: 60px;
} 

.ntex_3
{
    margin-left: 525px;
}

.number_3
{
    font-size: 60px;
    color: #BB168D;
    margin-left: -100px;
}

.text_3
{
    font-size: 30px;
    margin-top: 60px;
    margin-left: -180px;
} 

.information
{
    height: 1388px;
    width: 1274px;
    background-color:#CA15AD;
    border-radius: 40px;
    position: absolute;
    margin-left: 175px;
    margin-top: 175px;
}

.heading
{
    font-family: 'Inter';
    font-size: 50px;
    color: #482FE9;
    text-align: center;
    margin-top: 100px;
}

.points
{
    font-size: 40px;
    color: #482FE9;
    margin-left: 75px;
    margin-top: 150px;
}

.text2
{
    margin-top: 75px;
}

.text3
{
    margin-top: 75px;
}

.text4
{
    margin-top: 75px;
}






