.About_us
{
    font-family: 'Lobster', cursive;
}

.heading
{
    font-size: 175%;
    text-align: center;
    font-weight: bold;
}

.heading2_0
{
    font-weight: lighter;
}

.Information_cards
{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.hand_with_money, .people_notebook, .Earth
{
    width:inherit;
}


.Information_cards > div 
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.prime_card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second_card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third_card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

