/* .footer
{
    max-width: 1600px;
    max-height: 320px;
} */

.rectangle_big
{
    width: 1600px;
    height: 237px;
    background-color: #FFE1E1;
}

.rectangle_min
{
    width: 1600px;
    height: 67px;
    background: #E6E0E0;
}

.logo
{
    font-family: 'Luckiest Guy', cursive;
    max-width: 145px;
    max-height: 51px;
    border: 10px solid yellow;
    font-size: 30px;
    padding-top: 50px;
    margin-left: 100px;
}

.Emirat
{
    margin-top: 30px;
}

 .Travel
{
    margin-left: 38px;
} 

.social_networks
{
    display: flex;
    max-width: 444px;
    max-height: 54px;
    
}

.rectangle
{
    /* display: flex;
    align-items: center; */
    height: 54px;
    width: 444px;
    background-color:#D9D9D9;
    border-radius: 20px;
    margin-left: 300px;
}

.navigation
{
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    text-align: left;
    margin-left: 25px;
    margin-top: 8px;
}

.date
{
    /* max-width: 430px;
    max-height: 86px; */
    margin-top: 50px;
    
}

.information
{
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    color: #848484;
    margin-left: 915px;
    margin-top: -140px;
}

.person_date
{
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    color: #848484;
    margin-left: 915px;
    margin-top: 10px;
} 

.adress
{
    font-size: 20px;
    color: #848484;
    margin-left: 915px;
    margin-top: 10px;
} 

.phone_number
{
    margin-left: 50px;
    /* max-width: 200px;
    max-height: 51px;   */
}

.phn_1
{
    font-family: 'Inter';
    font-size: 20px;
    color: #252020;
    margin-left: 1400px;
    margin-top: -75px;
}

.phn_2
{
    font-family: 'Inter';
    font-size: 20px;
    color: #252020;
    margin-left: 1400px;
    margin-top: 5px;
}