/* Testimonials */
.testimonials {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lobster', cursive;
}

.testimonials-heading {
    text-align: center;
    color: #ffb703;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: bolder;
    font-size: 4rem;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ffb703, 0 0 20px #ffb703, 0 0 30px #ffb703, 0 0 40px #ffb703, 0 0 50px #ffb703, 0 0 60px #ffb703, 0 0 70px #ffb703, 0 0 90px #ffb703;
    }

    to {
        color: #ffb703;
        text-shadow: 0 0 20px #ffb703, 0 0 30px #ffb703, 0 0 40px #ffb703, 0 0 50px #ffb703, 0 0 60px #ffb703, 0 0 70px #ffb703, 0 0 80px #ffb703, 0 1 90px #ffb703;
    }
}

.testimonials-swiper {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text_testimonials-swiper_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    cursor: default;
}

.star_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 20%;
}

.testimonials-swiper-element {
    width: 25%;
    /* height: 20%; */
    height: 250px;
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    word-break: break-all;
    transition: all 0.4s ease 0s;
    cursor: default;
}

.testimonials-swiper-element:hover{
    background-color: rgb(11, 174, 236);
    color: #fff;
}

.testimonials-swiper-element:hover .text_testimonials-swiper_heading {
    color: gold;
}

.text_testimonials-swiper-element {
    display: inline-block;
    word-break: break-all;
}

@media (max-width:961px){
    .testimonials-heading{
        font-size: 2rem;
    }

    .testimonials-swiper-element{
        width: 300px;
        height: 400px;
    }

    .text_testimonials-swiper_heading{
        display: flex;
        flex-direction: column;
    }
}