/* Testimonials */
.testimonials {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lobster', cursive;
}

.heading_test_ls {
    text-align: center;
    color: #ffb703;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: bolder;
    font-size: 4rem;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ffb703, 0 0 20px #ffb703, 0 0 30px #ffb703, 0 0 40px #ffb703, 0 0 50px #ffb703, 0 0 60px #ffb703, 0 0 70px #ffb703, 0 0 90px #ffb703;
    }

    to {
        color: #ffb703;
        text-shadow: 0 0 20px #ffb703, 0 0 30px #ffb703, 0 0 40px #ffb703, 0 0 50px #ffb703, 0 0 60px #ffb703, 0 0 70px #ffb703, 0 0 80px #ffb703, 0 1 90px #ffb703;
    }
}

.rectangle_test_ls {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text_rectangle_test_ls_heading_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.star_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 20%;
}

.rectangle_test_ls_1 {
    width: 25%;
    /* height: 20%; */
    height: 250px;
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    word-break: break-all;
}

.text_rectangle_test_ls_1 {
    display: inline-block;
    word-break: break-all;
}

@media (max-width:961px){
    .heading_test_ls{
        font-size: 2rem;
    }

    .rectangle_test_ls_1{
        width: 300px;
        height: 500px;
    }

    .text_rectangle_test_ls_heading_1{
        display: flex;
        flex-direction: column;
    }
}