body
{
    padding-left: 100px;
    padding-top: 100px;
    font-family:'Inter';
}

.back
{
   width: 775px;
   height: 394px;
   background-color: #FFEF60;
   border-radius: 20px;
}

.before
{
   width: 775px;
   height: 394px;
   background-color: #FFE600;
   border-radius: 20px;
   transform: rotate(8deg);
   padding-left: 50px;
}

.map
{
   position: absolute;
   right: 50px;
   top: 30px;
   transform: rotate(-8deg);
}

.TEXT
{
   font-family:'Inter';
   transform: rotate(-8deg);
}
.where
{
   font-size: 50px;
   top: 20px;
}

.adres
{
   top: 15px;
}