body
{
   padding-left: 100px;
   padding-top: 100px;
}

.back
{
   width: 55%; /*775px*/
   height: 394px;
   background-color: #FFEF60;
   border-radius: 20px;
}

.before
{
   width: 100%; /*775px*/
   height: 100%;
   background-color: #FFE600;
   border-radius: 20px;
   transform: rotate(8deg);
   padding-left: 50px;
}

.map
{
   position: absolute;
   right: 6%;
   top: 8%;
   transform: rotate(-8deg);
}

.arrow_red_1
{
   width: 25%;
   height: 40%;
   left: 50%;
   top: -20%;/* top: -16.6%; */
   transform: rotate(30deg);
}

.arrow_red_2
{
   width: 25%;
   height: 50%;
   left: 87.5%;/* left: 85.1%; */
   top: -8%;
   transform: rotate(45deg);
}

.arrow_red_3
{
   width: 25%;
   height: 40%;
   left: 56.3%;
   top: 80%;/* top: 75.4%; */
   transform: rotate(-47deg);
}

.TEXT
{
   font-family: 'Lobster', cursive;
   transform: rotate(-8deg);
   width: 50%;
   padding-top: 2%;
}

/* .arrow_red_1
{
   left: 80%;
   top: -25%;

}

.arrow_red_2
{
   left: 75%;
   top: 70%;
   transform: rotate(30deg);
} */
