body
{
    padding-left: 100px;
    padding-top: 100px;
    font-family:'Inter';
}

.back
{
   width: 775px;
   height: 394px;
   background-color: #FFEF60;
   border-radius: 20px;
}

.back
{
   width: 775px;
   height: 394px;
   background-color: #FFE600;
   border-radius: 20px;
}

.map
{
   float: right; 
   margin-right: 20px;
   margin-top: 50px;
}

.where
{
    font-size: 25px;
    font-family:'Inter';
    float: left; 
    margin-left: 20px;
}