.st0 {
    fill: #62BEE7;
}

.st1 {
    fill: #474E5E;
}

.st2 {
    fill: #F3EEE4;
}

.st3 {
    fill: #FFFFFF;
}

.st4 {
    fill: #E8DCCA;
}

.st5 {
    opacity: 0.1;
    fill: #231F20;
}

.st6 {
    fill: #506268;
}

.st7 {
    fill: #EB5151;
}

.st8 {
    fill: #C64444;
}

.st9 {
    fill: #9CCB5B;
}

.st10 {
    fill: #404A4C;
}

.st11 {
    fill: #676767;
}

.st12 {
    fill: #E0E1E5;
}

.st13 {
    fill: #9D9EA0;
}

.st14 {
    fill: #B3B4B7;
}

.st15 {
    opacity: 0.1;
}

.st16 {
    fill: #231F20;
}

.st17 {
    fill: #FACC20;
}

.st18 {
    fill: #FDEF34;
}

.st19 {
    fill: #F7A90B;
}

.st20 {
    fill: #20B8EA;
}

.st21 {
    fill: #00A8EA;
}

.st22 {
    fill: #33D3F4;
}

.st23 {
    opacity: 0.25;
    fill: #FFFFFF;
}

.st24 {
    fill: #CACBCE;
}

.st25 {
    fill: #2E3545;
}

.st26 {
    fill: #8DAF4A;
}

.st27 {
    fill: #F9C2AF;
}

.st28 {
    fill: #AFDDF4;
}

.st29 {
    fill: #677177;
}

.st30 {
    fill: #FFEDB3;
}

.st31 {
    fill: #695652;
}

.st32 {
    fill: #30A7BF;
}

.st33 {
    fill: #4D5556;
}

.st34 {
    opacity: 0.35;
}

.st35 {
    fill: #FFCB04;
}

.st36 {
    fill: #99E9FA;
}

.st37 {
    opacity: 0.2;
}

.st38 {
    opacity: 3.000000e-02;
}

.st39 {
    fill: #9ECA5B;
}

.st40 {
    fill: #98BA56;
}

.st41 {
    fill: #40EEFF;
}

.st42 {
    fill: #FF6A52;
}

.st43 {
    opacity: 0.1;
    fill: #FFFFFF;
}

.st44 {
    opacity: 0.4;
}

.st45 {
    fill: #57606D;
}

.st46 {
    fill: #BACA5B;
}

.st47 {
    opacity: 0.25;
}

.st48 {
    opacity: 5.000000e-02;
    fill: #231F20;
}

.st49 {
    opacity: 0.2;
    fill: #FFFFFF;
}

.st50 {
    opacity: 0.3;
}

.st51 {
    fill: #FFD82F;
}

.st52 {
    fill: #F4C121;
}

.st53 {
    fill: #EF9D0A;
}

.st54 {
    fill: #F9E532;
}

.st55 {
    fill: #F4C01E;
}

.st56 {
    fill: #FFE14D;
}

.st57 {
    fill: #B7C156;
}

.st58 {
    fill: #DBA92C;
}

.st59 {
    fill: #363D4D;
}

.st60 {
    fill: #3F4656;
}

.st61 {
    fill: #463E33;
}

.st62 {
    fill: none;
}

.st63 {
    opacity: 4.000000e-02;
}

.st64 {
    fill: #4DB6AC;
}

.st65 {
    fill: #CADE49;
}

.st66 {
    fill: #9FD343;
}

.st67 {
    fill: #AAD643;
}

.st68 {
    fill: #82C736;
}

.st69 {
    opacity: 0.3;
    fill: #FFFFFF;
}

.st70 {
    fill: #FFD640;
}

.st71 {
    opacity: 0.5;
}

.st72 {
    opacity: 0.6;
}

/*1 svg about us*/
/*Coins*/
#coin1 {
    animation: coin1 6s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes coin1 {
    0%,20% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

#coin3 {
    animation: coin3 6s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes coin3 {
    0%, 40% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

#coin2 {
    animation: coin2 6s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes coin2 {
    0%, 30% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/*Animation1 of plane1*/
#plane1 {
    transform-origin: center;
    transform-box: fill-box;
    animation: flight 6s linear infinite;
}

@keyframes flight {
    0% {
        transform: translate(-70px, 0px);
    }

    100% {
        transform: translate(70px, 0px);
    }
}