/*Call request*/
.call-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-header-text {
    padding: 20px 0;
    color: #ffb703;
    font-size: 2.2rem;
    font-family: 'Rubik-PFDinDisplayPro', Arial, sans-serif;
    line-height: 1.45;
    border-color: transparent;
    border-style: solid;
    text-align: center;
}

.inputbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.inputbox-1 {
    font-family: 'Rubik-PFDinDisplayPro', Arial, sans-serif;
    border-color: transparent;
    border-style: solid;
}

.inputbox-1,
.inputbox1,
.inputbox-2,
.inputbox2 {
    padding: 0 20px;
    position: relative;
    width: 23vw;
    height: 30px;
    font-size: 16px;
    color: #fff;
    background: transparent;
}

    .inputbox-1 input,
    .inputbox-2 input {
        padding: 0 10px;
        border: 1.2px solid #fff;
        outline: none;
        border-radius: 10px;
    }

    .inputbox-1 label {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #fff;
        padding: 0 5px;
        pointer-events: none;
        transition: 0.9s;
    }

    .inputbox-1 input:focus ~ label,
    .inputbox-1 input:valid ~ label {
        top: 0;
        font-size: 0.7rem;
        filter: blur(20px);
    }

.btn-call {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 105%;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .4s ease-in;
    overflow: hidden;
}

    .btn-call:hover {
        background-color: yellow;
        box-shadow: 0px 0px 5px yellow, 0px 0px 25px yellow, 0px 0px 50px yellow;
    }

    .btn-call::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 600%;
        background: yellow;
        transition: 1s;
        animation: animate 2s linear infinite;
    }

    .btn-call:hover::before {
        width: 100%;
    }

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-call::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #e5e5e5;
    transition: 0.5s;
}

.btn-call:hover::after {
    background: yellow;
}

.btn-call span {
    position: relative;
    z-index: 1;
    font-size: 0.7em;
    color: black;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}

.btn-call:hover span {
    opacity: 1;
}

@media (max-width:961px) {
    .call-header-text {
        font-size: 1rem;
        text-align: center;
    }

    .inputbox-container {
        display: block;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
    }

    .inputbox-1,
    .inputbox1,
    .inputbox-2,
    .inputbox2 {
        padding: 10px;
        width: 100%;
    }
}
