/*Footer*/
.rectangle_big {
    width: 100%;
    margin-top: 20%;
    min-height: 25vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.rectangle_min {
    width: 100%;
    min-height: 7vh;;
    background: #dadada;
}

.logo_footer {
    width: 7%;
    height: 7%;
}

.social_network {
    display: flex;
    width: 30%;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    background-color: #dadada;
    border-radius: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.social_network img{
    width: 80%;
}

.dates {
    /* margin-left: 5%; */
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    color: #848484;
    text-align: left;
}

.phone_numberes {
    /* margin-right: 1%; */
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    color: #848484;
    text-align: center;
}

.rectangle_min {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}

