/*Footer*/
.rectangle_big {
    width: 100%;
    margin-top: 25%;
    min-height: 25vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.rectangle_min {
    width: 100%;
    min-height: 7vh;
    ;
    background: #dadada;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}

.logo_footer {
    width: 7%;
    height: 7%;
}

.social_network {
    display: flex;
    width: 35%;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    background-color: #dadada;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icon_instagram,
.icon_facebook,
.icon_viber,
.icon_telegram {
    width: 10%;
    position: relative;
    top: 2.5px;
}

.dates {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    color: #848484;
    text-align: left;
}

.phone_numberes {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    color: #848484;
    text-align: center;
}

@media screen and (max-width: 961px) {

    .rectangle_big {
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: center;
    }

    .logo_footer {
        width: 60%;
        height: 60%;
        margin: 7%;
    }

    .social_network {
        width: 95%;
        font-size: 1rem;
    }

    .dates {
        font-size: 1rem;
        text-align: center;
        margin: 3%;
    }

    .phone_numberes {
        font-size: 1rem;
        margin: 5%;
    }

    .rectangle_min {
        font-size: 1rem;
    }

    .icon_instagram,
    .icon_facebook,
    .icon_viber,
    .icon_telegram {
        right: 5%;
    }
}