header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}

.nav-headercontainer {
    padding: 5px 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    /*backdrop-filter: blur(35px);*/
}

.nav-header-element {
    color: black;
    /*color: #F4C430;*/
    padding: 10px 20px;
    font-size: 2.5vw;
    /*font-size: 2.2rem;*/
    cursor: pointer;
    z-index: 10;
}

/*Sidebar*/
.sidebaractive {
    transform: translate(0%) !important;
}

.fa-times::before {
    color: black;
    transition: 0.3s linear;
}

.fa-bars::before {
    transition: 0.3s linear;
}

.sidebar {
    position: fixed;
    /*width: 300px;*/
    width: 15vw;
    height: 200vh;
    left: 0;
    top: 0;
    padding: 20px;
    background: #FCE883;
    box-sizing: border-box;
    transform: translate(-101%);
    transition: all 0.3s linear 0s;
    z-index: 1;
    font-weight: 700;
}

ul.nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 3vw;
    /*margin-top: 50px;*/
}

    ul.nav-links li a {
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 5%;
        font-size: 1.5vw;
        /*margin-bottom: 20px;*/
        display: inline-block;
        text-decoration: none;
        transition: ease .3s;
    }

        ul.nav-links li a:hover {
            color: #ffff;
        }

/*Languages*/
.headerbar-languages {
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin: 10px;
}

.radio__input {
    display: none;
}

.radio__label {
    /*padding: 8px 14px;*/
    padding: 1vw 1vw;
    /*font-size: 15px;*/
    font-family: sans-serif;
    color: black;
    background: #FCE883;
    cursor: pointer;
    transition: background-color 0.1s;
    transition: ease .3s;
}

    .radio__label:hover {
        color: #ffff;
    }

    .radio__label:not(:last-of-type) {
        border-right: 1px solid #F4C430;
    }

.radio__input:checked + .radio__label {
    background: #F4C430;
}

/*Arrowup*/
.arrowup-container {
    position: fixed;
    display: block;
    z-index: 1000;
    bottom: 30px;
    left: 30px;
}

span.arrow-btn {
    font-size: 3vw;
    /*font-size: 50px;*/
    color: #DAA520;
    transition: ease .3s;
}

    span.arrow-btn:hover {
        color: #FCE883;
    }

/*Popup-menu*/
/* Navigation */
@-webkit-keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

.floating-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    margin-right: 1%;
    /*margin: 35px 25px;*/
}

.floating-container-show {
    height: 56vh;
    /*height: 500px;*/
}

    .floating-container-show .floating-button {
        -webkit-transform: translatey(5px);
        transform: translatey(5px);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .floating-container-show .element-container .float-element:nth-child(1) {
        -webkit-animation: come-in 0.4s forwards 0.2s;
        animation: come-in 0.4s forwards 0.2s;
    }

    .floating-container-show .element-container .float-element:nth-child(2) {
        -webkit-animation: come-in 0.4s forwards 0.4s;
        animation: come-in 0.4s forwards 0.4s;
    }

    .floating-container-show .element-container .float-element:nth-child(3) {
        -webkit-animation: come-in 0.4s forwards 0.6s;
        animation: come-in 0.4s forwards 0.6s;
    }

    .floating-container-show .element-container .float-element:nth-child(4) {
        -webkit-animation: come-in 0.4s forwards 0.8s;
        animation: come-in 0.4s forwards 0.8s;
    }

    .floating-container-show .element-container .float-element:nth-child(5) {
        -webkit-animation: come-in 0.4s forwards 1s;
        animation: come-in 0.4s forwards 1s;
    }

    .floating-container-show .element-container .float-element:nth-child(6) {
        -webkit-animation: come-in 0.4s forwards 1.2s;
        animation: come-in 0.4s forwards 1.2s;
    }

.floating-container .floating-button {
    position: absolute;
    width: 4vw;
    /*width: 65px;*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 4vw;
    /*height: 65px;*/
    background: #ffa343;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    color: white;
    /*line-height: 65px;*/
    font-size: 3vw;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(246, 196, 71, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.floating-button:hover {
    background-color: #FCE883;
}

.floating-container .float-element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5vw;
    /*width: 50px;*/
    height: 2.5vw;
    /*height: 50px;*/
    margin: 10px auto;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.fa-phone,
.fa-instagram,
.fa-facebook,
.fa-telegram,
.fa-whatsapp,
.fa-phone-square {
    color: white;
    font-size: 1.5vw;
}

.faElements {
    text-underline-position: from-font;
    display: flex;
    text-underline-offset: 100vh;
}


.floating-container .float-element:nth-child(1) {
    background: #00FF00;
    box-shadow: 0 15px 15px -10px #00FF00;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

    .floating-container .float-element:nth-child(1):hover {
        box-shadow: 0 0 10px 5px #00FF00;
    }


.floating-container .float-element:nth-child(2) {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    box-shadow: 0 15px 15px -10px #e70dbf;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

    .floating-container .float-element:nth-child(2):hover {
        box-shadow: 0 0 10px 5px #e70dbf;
    }

.floating-container .float-element:nth-child(3) {
    background: #4267B2;
    box-shadow: 0 20px 20px -10px #4267B2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

    .floating-container .float-element:nth-child(3):hover {
        box-shadow: 0 0 10px 5px #4267B2;
    }


.floating-container .float-element:nth-child(4) {
    background: #229ED9;
    box-shadow: 0 20px 20px -10px #229ED9;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

    .floating-container .float-element:nth-child(4):hover {
        box-shadow: 0 0 10px 5px #229ED9;
    }


.floating-container .float-element:nth-child(5) {
    background: #25D366;
    box-shadow: 0 20px 20px -10px #25D366;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

    .floating-container .float-element:nth-child(5):hover {
        box-shadow: 0 0 10px 5px #25D366;
    }

.floating-container .float-element:nth-child(6) {
    background: #7360F2;
    box-shadow: 0 20px 20px -10px #7360F2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

    .floating-container .float-element:nth-child(6):hover {
        box-shadow: 0 0 10px 5px #7360F2;
    }



@media (max-width: 700px) {
    /* Styles for screens smaller than 700px */
    .sidebar {
        width: 100%;
    }
}
