/*For Test of navigation*/
section {
    height: 300vh;
}

/*---------------------*/
html {
    scroll-behavior: smooth;
}

/*begin of body*/
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-image: url("../content/background/background_sea.png");
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

#Mainpage {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/*Video background*/
#myVideo {
    position: fixed;
    top: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
    /*filter: brightness(70%);*/
}

.mainpage-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.mainpage-innerDiv {
    position: absolute;
    /* left: 30%; */
    top: 15vh;
    display: flex;
    align-items: center;
}

.mainpage-text {
    width: 100%;
    z-index: 1;
}

    .mainpage-text h5 {
        font-size: 1.2rem;
        font-weight: 800;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #ffa343;
    }

    .mainpage-text h1 {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 20px;
        color: #fff;
    }

h1 span {
    color: #ffa343;
}

.mainpage-text p {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 30px;
    color: #ffffffab;
}

/*Logo*/
.logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 50%;
    height: 50%;
}

    .logo-holder img {
        padding-top: 0px;
        width: 100%;
        height: 100%;
    }

    .logo-holder::after {
        content: '';
        position: absolute;
        background-image: linear-gradient( #ECE9E6, #FFFFFF);
        opacity: .4;
        z-index: -1;
        width: 35%;
        height: 100%;
        border-radius: 90px;
        border-style: solid;
        border-width: 4px;
        border-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        /* translate: -150%; */
        /* background: #ECE9E6;*/
        /* filter: blur(15px); */
        /* backdrop-filter: blur(1px); */
        /* backdrop-filter: grayscale(50%) blur(10px); */
        /* background-image: linear-gradient(to bottom right,  #CC95C0, #DBD4B4, #7AA1D2); */
        /* background-image: linear-gradient(to bottom right,  #e5e4e2, #e5e4e2); */
        /* background-color: #F9ED69; */
    }

/*Button under logo*/
.button-know-container,
.button-know-sun,
.button-know,
.button-know span {
    position: absolute;
}

.button-know-container {
    width: 200px;
    height: 200px;
    margin-top: 6vh;
}

.button-know-sun {
    margin: 10px;
}

.button-know-container a:hover .button-know-sun {
    bottom: 176px;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 30px #ffdc2a;
}

.button-know-container a:hover .button-know {
    box-shadow: 0 0 100px #c80de0;
}

.button-know-container .button-know-sun {
    width: 64px;
    height: 64px;
    left: 23%;
    bottom: 125px;
    background: linear-gradient(180deg, #ffdc21 0%, #fb2182 41.54%);
    box-shadow: 0 0 36px #ffdc20;
    z-index: 2;
    border-radius: 65px;
    transition: all 1s ease-in-out;
}

.button-know-container .button-know {
    width: 171px;
    height: 65px;
    background: #2c0055;
    box-shadow: 0 0 16px #c80de0;
    border-radius: 20px;
    z-index: 3;
    border: 2px solid;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(#360154, #d442d5) 30;
}

    .button-know-container .button-know span {
        text-align: center;
        font-family: cursive;
        left: 36px;
        font-size: 35px;
        line-height: 62px;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;
        background: -webkit-linear-gradient(#ffdc2a, #fb2182);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

@media (max-width:961px) {

    .mainpage-innerDiv {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 5% 0;
        top: 10vh;
    }

    .mainpage-text {
        padding: 5% 5%;
    }

        .mainpage-text h5 {
            font-size: 1.2rem;
        }

        .mainpage-text h1 {
            font-size: 2rem;
        }

        .mainpage-text p {
            font-size: 1rem;
        }

    .logo-holder {
        padding: 3%;
    }

        .logo-holder::after {
            height: 70%;
            width: 30%;
        }
}
