/*For Test of navigation*/
section {
    height: 300vh;
}

/*---------------------*/
html {
    scroll-behavior: smooth;
}

/*begin of body*/
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-image: url("../content/background/background_sea.png");
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

#Mainpage {
    position: relative;
    width: 100vw;
    min-height: 110vh;
}

/*Video background*/
#myVideo {
    position: fixed;
    top: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
    /*filter: brightness(70%);*/
}

.mainpage-container {
    position: relative;
    display: flex;
    /*justify-content: center;*/
}

.mainpage-innerDiv {
    /*position: absolute;*/
    /* left: 30%; */
    /*top: 15vh;*/
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.mainpage-text {
    width: 100%;
    z-index: 1;
    padding-left: 5%;
}

    .mainpage-text h5 {
        font-size: 4vw;
        /*font-size: 1.2rem;*/
        font-weight: 800;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #ffa343;
    }

    .mainpage-text h1 {
        font-size: 3vw;
        /*font-size: 2.5rem;*/
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 20px;
        color: #fff;
    }

h1 span {
    color: #ffa343;
}

.mainpage-text p {
    font-size: 1.5vw;
    /*font-size: 1.1rem;*/
    font-weight: 700;
    line-height: normal;
    /*line-height: 30px;*/
    /*color: #ffffffab;*/
    color: beige;
}

/*Logo*/
.logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    /*border-radius: 20% 20%;*/
    /*background-color: bisque;*/
    /*border: 1px solid red;*/
    margin-right: 5%;
    width: 90%;
    height: 90%;
}

    .logo-holder img {
        padding-top: 0px;
        width: 100%;
        height: 100%;
    }

    .logo-holder::after {
        /* content: '';
        position: absolute;
        background-image: linear-gradient( #ECE9E6, #FFFFFF);
        opacity: .4;
        z-index: -1;
        width: 35%;
        height: 100%;
        border-radius: 90px;
        border-style: solid;
        border-width: 4px;
        border-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;*/
        /* translate: -150%; */
        /* background: #ECE9E6;*/
        /* filter: blur(15px); */
        /* backdrop-filter: blur(1px); */
        /* backdrop-filter: grayscale(50%) blur(10px); */
        /* background-image: linear-gradient(to bottom right,  #CC95C0, #DBD4B4, #7AA1D2); */
        /* background-image: linear-gradient(to bottom right,  #e5e4e2, #e5e4e2); */
        /* background-color: #F9ED69; */
    }

/*Button under logo*/
.button-know-container,
.button-know-sun,
.button-know {
    position: absolute;
}

.button-know-container {
    width: 20%;
    height: 20vh;
    margin-top: 6vh;
}

.button-know-sun {
    margin: 10px;
}

.button-know-container a:hover .button-know-sun {
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
    box-shadow: 0 0 30px #ffdc2a;
}

.button-know-container a:hover .button-know {
    box-shadow: 0 0 100px #c80de0;
}

.button-know-container .button-know-sun {
    width: 5vw;
    height: 5vw;
    transform: translateY(-10%);
    background: linear-gradient(180deg, #ffdc21 0%, #fb2182 41.54%);
    box-shadow: 0 0 36px #ffdc20;
    z-index: 2;
    border-radius: 65px;
    transition: all 1s ease-in-out;
}

.button-know {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunParent {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-know-container .button-know {
    width: 100%;
    height: 50%;
    background: #2c0055;
    box-shadow: 0 0 16px #c80de0;
    border-radius: 20px;
    z-index: 3;
    border: 2px solid;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(#360154, #d442d5) 30;
}

    .button-know-container .button-know span {
        text-align: center;
        font-family: cursive;
        width: 100%;
        /*height: 100%;*/
        font-size: 2vw;
        /*font-size: 35px;*/
        /*line-height: 62px;*/
        margin: 0 auto;
        transition: all 0.3s ease-in-out;
    }

@media (max-width:700px) and (min-width:320px) {
    .InnerBlock {
        grid-template-rows: 25vh 50vh 6vh !important;
    }

    .swiper-tagdescription-items {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (max-width:800px) {
    .swiper-tagdescription::before {
        bottom: 100% !important;
        height: 0 !important;
        height: 6% !important;
        --mask: radial-gradient(16px at 50% 16px, #000 99%, #0000 101%) calc(50% - 30px) 0/60px 100%, radial-gradient(14px at 50% -6px, #0000 99%, #000 101%) 50% 15px/60px 100% repeat-x !important;
    }
}

@media (max-width:800px) {
    .swiper-tagdescription p {
        justify-content: center !important;
        font-size: 1.1rem !important;
        margin-bottom: 0 !important;
    }
}

@media (max-width:961px) {
    .sidebar {
        width: 100% !important;
    }

    .nav-links {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    ul.nav-links li a {
        font-size: 2rem !important;
    }

    .countryNames {
        font-size: 1rem !important;
    }





    .tags-text {
        grid-template-columns: 50% 50% !important;
        /*grid-template-columns: auto !important;*/
        grid-template-rows: auto !important;
    }



    .second-slick-next,
    .second-slick-prev {
        font-size: 1rem !important;
    }

    .firstSwiper .slick-dots li button:before {
        font-size: small !important;
    }

    .firstSwiper > .slick-dots {
        width: fit-content !important;
    }

    .span.arrow-btn {
        font-size: 2.3rem !important;
    }

    .arrowup-container {
        bottom: 1% !important;
    }

    .button-know-container {
        margin-top: 0 !important;
        width: 50% !important;
    }

    .nav-header-element {
        font-size: 1.5rem !important;
    }

    .radio__label {
        font-size: 1rem !important;
    }

    .mainpage-innerDiv {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 5% 0;
        justify-content: start;
        top: 10vh;
    }

    .mainpage-text {
        padding: 5% 5%;
    }

        .mainpage-text h5 {
            font-size: 2rem !important;
            margin: 0 !important;
        }

        .mainpage-text h1 {
            font-size: 2rem !important;
        }

        .mainpage-text p {
            font-size: 1rem !important;
        }

    .button-know-container .button-know span {
        font-size: 2rem;
    }

    .logo-holder {
        padding: 3%;
    }

        .logo-holder::after {
            height: 70%;
            width: 30%;
        }
}

@media (min-width:760px) {
    swiper-tagdescription p {
        grid-column: 0 !important;
    }
}

@media (min-width:701px) and (max-width:1100px) {
    .swiper-tagdescription-items {
        grid-template-columns: 50% 50% !important;
        grid-template-rows: 10% 90% !important;
    }

    .swiper-tagdescription p {
        grid-column: span 2;
    }

    #svg4 {
        width: 100% !important;
        height: 100% !important;
    }

    .hotprice {
        width: 95%;
    }

    .swiper-tagdescription p {
        font-size: 1.5rem !important;
    }
}

/* media queries*/

@media (max-width: 999px) {
    /* Styles for screens smaller than 1000px */

    #myVideo {
        min-height: 100%;
    }

    #Mainpage {
        width: 100%;
    }

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .mainpage-innerDiv {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0%;
    }

    #svg5 {
        width: auto;
        height: auto;
    }

    .logo-holder {
        width: 80%;
        height: 40vh;
        padding: 0;
        justify-content: unset;
    }

    .Information_car {
        padding: 0;
    }

    .mainpage-text {
        width: calc(100% - 10%);
    }
}
