#hot-deals-container {
    height: 60vh;
    width: 70vw;
    margin: 0 15%;
    border: 5px;
    border-style: solid;
    border-color: #D3D3D3;
    border-radius: 26px;
}

#svg4 {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
}

.firstSwiper {
    height: 100%;
    width: 100%;
}

    .firstSwiper .slick-dots li button:before {
        font-size: calc((1vw + 2vh)/2);
    }

.slick-list.draggable,
.slick-track {
    height: 100%;
}

.tags {
    height: 100%;
    margin: 10%;
    width: calc(100% - 25%);
    padding-left: 5%;
    /*padding: 5%;*/
}

.swiper-tagdescription {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(90deg, #f12711, #f5af19);
    border-radius: 0 20px 0 0;
}

.swiper-tagdescription-items {
    display: grid;
    grid-template-rows: 65% 35%;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.swiper-tagdescription p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 1.2vw;
    /*font-size: 0.9em;*/
    font-weight: bold;
    line-height: 1.1;
}

.swiper-tagdescription-items img {
    width: 10%;
    padding: 0 3%;
}

.hotprice {
    width: 100%;
    height: 100%;
}

    .hotprice img {
        /* display: flex;
    justify-content: center;
    align-items: center; */
        width: 100%;
        height: 100%;
    }

/*BTN arrows second slider*/
.second-slick-prev {
    --arrow-size: 3vw;
    --arrow-color: #ffb703;
    --arrow-color-hover: rgba(120, 120, 118, 0.696);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #EEF5FF;
    border: transparent;
    border-radius: 0 0 0 20px;
    border-right: solid 1px;
    cursor: pointer;
}

.second-slick-next {
    --arrow-size: 3vw;
    --arrow-color: #ffb703;
    --arrow-color-hover: rgba(120, 120, 118, 0.696);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #EEF5FF;
    border: transparent;
    border-radius: 0 0 20px 0;
    border-left: solid 1px;
    cursor: pointer;
}

    .second-slick-prev::after,
    .second-slick-next::after {
        content: '';
        box-sizing: border-box;
        display: inline-block;
        width: calc(var(--arrow-size) * .7071);
        height: calc(var(--arrow-size) * .7071);
        border-top: calc(var(--arrow-size) / 5) solid var(--arrow-color);
        transition: all 150ms ease-in-out;
    }

.second-slick-prev::after {
    margin-top: calc(var(--arrow-size) * .7071);
    border-left: calc(var(--arrow-size) / 5) solid var(--arrow-color);
    transform-origin: top left;
    rotate: -45deg;
}

.second-slick-next::after {
    margin-top: calc(var(--arrow-size) * .7071);
    border-right: calc(var(--arrow-size) / 5) solid var(--arrow-color);
    transform-origin: top right;
    rotate: 45deg;
}

.second-slick-prev:hover::after {
    box-shadow: calc(var(--arrow-size) / -8) calc(var(--arrow-size) / -8) 0 var(--arrow-color);
    border-color: var(--arrow-color-hover);
}

.second-slick-next:hover::after {
    box-shadow: calc(var(--arrow-size) / 8) calc(var(--arrow-size) / -8) 0 var(--arrow-color);
    border-color: var(--arrow-color-hover);
}


.second-slick-prev:active:after,
.second-slick-next:active:after {
    box-shadow: 0 0 0 0 white;
    opacity: 1;
    transition: 0s;
    z-index: 1000;
    left: 5px;
}

/*Country*/
.countryNames {
    background-color: white;
    margin: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #18272F;
    position: relative;
    text-decoration: none;
    font-size: calc((2.5vw + 2.5vh)/2);
    /*font-size: 0.9rem;*/
    font-weight: 700;
    border-right: solid 0.5px;
    border-left: solid 0.5px;
    border-radius: 0;
    transition: color .3s ease-in-out;
    transition: .5s ease-in-out;
    text-align: center;
    cursor: pointer;
}

    .countryNames:hover {
        color: red;
    }

    .countryNames::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #F4C430;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    .countryNames:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

.firstSwiper .slick-slide {
    border-radius: 20px 0 0 0;
}

.slick-center {
    font-size: calc((2.5vw + 2.5vh)/2);
    /*font-size: 1.05rem;*/
    color: red;
    border-right: solid 1px;
    background-color: #ffb703;
}

.firstSwiper > .slick-dots {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0px;
    left: 0;
    background-color: antiquewhite;
    width: 20vw;
    border-radius: 5vw 0px 10vw 0px;
    height: 3vh;
}

#firstSwiperHolder {
    display: contents;
    grid-column-start: 1;
}

/*Header slider*/
/*Hot-deals-header*/
.hot-deals-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hot_deals_h2 {
    margin: 0 auto 2% auto;
    text-align: center;
    /* Set neon color */
    --neon-text-color: #ffb703;
    --neon-border-color: #ffb703;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    line-height: 1.2vw;
    padding: 1% 7%;
    color: #fff;
    border: 0.4rem solid #fff;
    border-radius: 2vw;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

    #hot_deals_h2::-moz-selection {
        background-color: var(--neon-border-color);
        color: var(--neon-text-color);
    }

    #hot_deals_h2::selection {
        background-color: var(--neon-border-color);
        color: var(--neon-text-color);
    }

    #hot_deals_h2:focus {
        outline: none;
    }

/* Animate neon flicker */
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
        box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}

/* MEDIA QUERIES */
@media (min-width:760px) {
    swiper-tagdescription p {
        grid-column: 0 !important;
    }
}

@media (min-width:800px) {
    .InnerBlock {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 85% 15%;
        height: 80vh;
        /*width: 50%;*/
        padding: 0 10%;
        margin: auto;
    }

    .swiper-tagdescription-items {
        grid-template-rows: 5% 65% 30% !important;
        /*grid-template-rows: 10% 50% 40% !important;*/
    }

        .swiper-tagdescription-items p {
            grid-column: span 2;
            font-size: 1.3rem;
        }

    .swiper-tagdescription p {
        font-size: 1.3rem;
    }

    #svg4 {
        width: 90%;
        height: 90%;
    }

    .tags {
        margin: 0 !important;
        padding-left: 0 !important;
        width: 100% !important;
        grid-column: span 2 !important;
    }

    .hotprice {
        display: flex;
        grid-column: span 2 !important;
    }
}

@media (max-width:800px) {
    #hot-deals-container {
        height: 60vh;
    }

    .swiper-tagdescription-items {
        justify-content: normal;
        /*justify-content: space-evenly;*/
    }

    .InnerBlock {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 43% 7%;
        height: 90vh;
        /*width: 50%;*/
        width: 80%;
        margin: auto;
    }

    .swiper-tagdescription {
        grid-row-start: 2;
        background: linear-gradient(180deg, #f12711, #f5af19);
        border-radius: 0;
    }

        .swiper-tagdescription::before {
            content: "";
            position: absolute;
            width: 100% !important;
            left: 0 !important;
            background: #f12711;
            --mask: radial-gradient(34.99px at 50% 48.00px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 100%, radial-gradient(34.99px at 50% -18px, #0000 99%, #000 101%) 50% 30px/120px 100% repeat-x;
            -webkit-mask: var(--mask);
            mask: var(--mask);
        }

        .swiper-tagdescription p {
            display: flex;
            flex-direction: column;
        }

    .tags {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 0;
    }

        .tags p {
            font-size: 1.4rem;
            margin: 0;
        }

    .tags-text p {
        width: 100%;
        grid-column-start: auto;
        font-size: 1em;
        /*font-size: 0.6rem;*/
        text-align: center;
        margin: 0;
    }

    .tags-text {
        display: grid;
        grid-template-columns: 35% 35% 30%;
        grid-template-rows: 30% 30%;
        grid-column-start: 1;
        grid-column-end: 1;
        /*padding: 3%;*/
        /*padding-left: 10%;*/
        height: 100%;
        width: 90%;
    }

    .countryNames {
        font-size: 1em;
        /*font-size: 0.4rem;*/
    }

    .tags-text img {
        width: 1.8rem;
    }

    .slick-center {
        font-size: 1.1em;
        /*font-size: 0.6rem;*/
    }

    .firstSwiper .slick-slide {
        border-radius: 20px 20px 0 0;
    }

    .swiper-tagdescription-items img {
        padding: 0;
    }
}

@media (max-width:1100px) {
    #hot_deals_h2 {
        font-size: 1.2rem;
        padding: 2% 7%;
        border-radius: 3vw;
    }

    .swiper-tagdescription::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 30%;
        left: -30%;
        background: #f12711;
        --mask: radial-gradient(40.36px at 57.00px 50%, #000 99%, #0000 101%) 0 calc(50% - 60px)/100% 120px, radial-gradient(40.36px at -27px 50%, #0000 99%, #000 101%) 30px 50%/100% 120px repeat-y;
        -webkit-mask: var(--mask);
        mask: var(--mask);
    }

    .secondSwiper {
        display: grid !important;
        justify-content: center;
        grid-template-columns: 10% 80% 10%;
        align-items: center;
        grid-column-start: span 2;
        width: 100%;
    }
}

@media (min-width:1100px) {
    .secondSwiper {
        display: grid !important;
        justify-content: center;
        grid-template-columns: 5% 90% 5%;
        align-items: center;
        grid-column-start: span 2;
        width: 100%;
    }

    .swiper-tagdescription::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 30%;
        left: -30%;
        background: #f12711;
        --mask: radial-gradient(40.36px at 57.00px 50%, #000 99%, #0000 101%) 0 calc(50% - 60px)/100% 120px, radial-gradient(40.36px at -27px 50%, #0000 99%, #000 101%) 30px 50%/100% 120px repeat-y;
        -webkit-mask: var(--mask);
        mask: var(--mask);
    }

    .swiper-tagdescription p {
        font-size: 1.5rem !important;
    }

    #svg4 {
        width: 100% !important;
        height: 100% !important;
    }
}

@media (min-width:768) and (max-width: 1100px) {
    .swiper-tagdescription p {
        font-size: 1.1rem !important;
    }

    .hotprice {
        width: 95% !important;
    }
}

@media (min-width:320px) and (max-width:800px) and (min-height:639px) {
    .InnerBlock {
        grid-template-rows: 25vh 50vh 6vh !important;
    }

    .swiper-tagdescription-items {
        display: grid !important;
        grid-template-rows: 10% 60% 30% !important;
        /* display: flex !important;
        flex-direction: column !important;*/
    }
}

@media (max-width:800px) and (min-height:639px) {
    .swiper-tagdescription::before {
        bottom: 99% !important;
        height: 7% !important;
        --mask: radial-gradient(16px at 50% 16px, #000 109%, #0000 101%) calc(50% - 30px) 0/60px 100%, radial-gradient(14px at 50% -6px, #0000 99%, #000 101%) 50% 15px/60px 100% repeat-x !important;
    }

    .swiper-tagdescription p {
        justify-content: center !important;
        /*font-size: 1.1rem !important;*/
        font-size: calc(.8rem + 1vw) !important;
        margin-bottom: 0 !important;
    }
}

@media (max-width:961px) {
    .countryNames {
        font-size: 1rem !important;
    }

    .tags-text {
        grid-template-columns: 50% 50% !important;
        /*grid-template-columns: auto !important;*/
        grid-template-rows: auto !important;
    }

    .second-slick-next,
    .second-slick-prev {
        font-size: 1rem !important;
    }

    .firstSwiper .slick-dots li button:before {
        font-size: small !important;
    }

    .firstSwiper > .slick-dots {
        width: fit-content !important;
    }
}

@media (max-height:800px) and (max-width:800px) {
    .swiper-tagdescription::before {
        width: inherit;
        left: 0;
        bottom: 99% !important;
        height: 0 !important;
        height: 7% !important;
        --mask: radial-gradient(16px at 50% 16px, #000 109%, #0000 101%) calc(50% - 30px) 0/60px 100%, radial-gradient(14px at 50% -6px, #0000 99%, #000 101%) 50% 15px/60px 100% repeat-x !important;
    }

    .InnerBlock {
        grid-template-rows: 25vh 56vh 6vh !important;
    }
}

@media (min-width:1100px) and (max-height:800px) {
    .swiper-tagdescription p {
        font-size: 1rem !important;
    }
}
