* {
    padding: 0;
    margin: 0;
}

/*Hot deals*/
.hot-deals-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
}

    .hot-deals-container h2 {
        padding-top: 5%;
        padding-bottom: 2%;
        color: #ffb703;
        font-size: 3rem;
        line-height: 4rem;
    }

.hot-deals {
    margin: auto;
    margin-top: 0px;
    border-radius: 10px;
    border: 5px solid #ffb703;
    display: flex;
    height: 500px;
    width: 50%;
    background-color: #C0C0C0;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.3);
    /* gap: 10px; */
}

    .hot-deals::before {
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        background: #ffb703;
        top: 0;
        left: 0;
        border-radius: 0 0 100% 0;
        z-index: 100;
    }

    .hot-deals::after {
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        background: #ffb703;
        bottom: 0;
        right: 0;
        border-radius: 100% 0 0 0;
        z-index: 100;
    }

.dividedTwo {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 0px;
}

.hotel-images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.swiper-slide {
    padding: 15px 0 15px 15px;
}

/*Countries design*/
.countries {
    padding: 0;
    text-align: center;
    font-size: x-large;
    overflow: auto;
    flex-grow: 1;
}

    .countries p {
        padding: 10%;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        /* border: 5px solid #ffb703; */
        /* border: 5px solid #ffb703;
  border-right: 10px solid #ffb703; */

    --s: 0.1em;
    --c: #FCE883;
    padding-bottom: 0.1em;
    background: linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.6s;
}

        .countries p:hover {
            color: #FCE883;
            --_p: 100%
        }

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: purple;
    border-style: groove;
    border-color: white;
    border-radius: 10px;
}

@media all and (max-width:400px) {
    body {
        background-color: green;
    }

    .hot-deals {
        width: 100%;
        margin: 0;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    .hotel-images > img {
        width: 50px;
        height: 50px;
    }

    .hotel-images {
        gap: 10px;
    }
}

.swiperAndTags {
    position: relative;
    flex-grow: 4;
    width: inherit;
    height: 100%;
}

/*Swiper*/
swiper-container {
    flex-grow: 4;
    position: relative;
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

    swiper-slide img {
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
    }

.swiper-v {
    background: #eee;
}

.columnsW {
    position: relative;
    height: 100%;
    display: flex;
    grid-template-columns: 50% 50%;
}

    .columnsW > div {
        height: fit-content;
    }

/*Swiper arrows*/
swiper-container::part(button-next),
swiper-container::part(button-prev) {
    background-color: white;
    color: grey;
    height: 5%;
    width: 3%;
    border-radius: 10px;
    padding: 10px;
    transition: color 0.7s ease-in;
    transition: background-color 0.4s ease-out;
}

swiper-container::part(button-prev) {
    top: 5%;
    left: 85%;
}

swiper-container::part(button-next) {
    top: 5%;
    right: 1%;
}

swiper-container::part(button-prev):hover {
    /* color: black; */
    background-color: #FCE883;
    color: red;
}

swiper-container::part(button-next):hover {
    /* color: black; */
    background-color: #FCE883;
    color: red;
}

/*Swiper tags*/
.swiper-tagdescription {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .65));
    /* background: rgba(0,0,0,.75); */
    /* width: 300px; */
    /* background-color: red; */
    /* border-radius: 20px; */
}

    .swiper-tagdescription p {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px;
        padding-left: 3%;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.1;
    }

.swiper-tagdescription-items img {
    width: 4%;
    padding: 5px;
}

@media (max-width:961px) {
    .hot-deals-container h2 {
        font-size: 2rem;
    }

    .hot-deals {
        width: 90%;
        height: initial;
        flex-direction: column-reverse;
    }

    .countries {
        /* width: 50%; */
        font-size: 1rem;
        height: 10vh;
        padding: 0 5% 0 5%;
    }

    .swiperAndTags {
        width: initial;
        height: 60vh;
    }

    .countriesPadding p {
        padding: 0;
    }

    .countriesPadding {
        width: inherit;
        height: inherit;
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        align-items: center;
        gap: 10%;
    }
}

/*Header swiper style*/
.hot-Blazing {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: #F4C430;
    font-size: 3rem;
    line-height: 50px;
    min-width: 50px;
    outline: none;
    vertical-align: middle;
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
    animation: 2s hot-Blazing infinite alternate linear;
}

@keyframes hot-Blazing {
    0% {
        text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow, 0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
    }

    25% {
        text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 20px orange, 0 0 5px yellow, -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow;
    }

    50% {
        text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange, -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow, 2px -20px 30px rgba(255,255,0,0.5);
    }

    75% {
        text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange, 3px -5px 5px yellow, -4px -10px 10px yellow, 2px -20px 30px rgba(255,255,0,0.5), 0px -25px 40px rgba(255,255,0,0)
    }

    100% {
        text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow, 0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
    }
}

