/* Testimonials */
.testimonials {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lobster', cursive;
}

.testimonials-swiper .slick-dots li button:before {
    font-size: 2vw;
    color: white;
    opacity: 1;
}

.testimonials-swiper .slick-dots li.slick-active button:before {
    color: yellow;
}

.testimonials-swiper .slick-dots {
    display: flex;
    bottom: -10vh;
    justify-content: space-evenly;
}

.testimonials-heading {
    text-align: center;
    color: #ffb703;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: bolder;
    /*font-size: 4rem;*/
    font-size: 3vw;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #ffb703, 0 0 20px #ffb703, 0 0 30px #ffb703, 0 0 40px #ffb703, 0 0 50px #ffb703, 0 0 60px #ffb703, 0 0 70px #ffb703, 0 0 90px #ffb703;
    }

    to {
        color: #ffb703;
        text-shadow: 0 0 20px #ffb703, 0 0 30px #ffb703, 0 0 40px #ffb703, 0 0 50px #ffb703, 0 0 60px #ffb703, 0 0 70px #ffb703, 0 0 80px #ffb703, 0 1 90px #ffb703;
    }
}

.testimonials-swiper {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text_testimonials-swiper_heading {
    display: flex;
    flex-direction: row;
    word-break: auto-phrase;
    font-size: calc((2vw + 2vh)/2);
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    cursor: default;
}

.star_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 20%;
}

    .star_1 > img {
        width: 1.5vw;
        height: 1.5vw;
    }

.testimonials-swiper-element {
    width: 100px;
    /*width: 25%;*/
    /* height: 20%; */
    margin: 0 0.1% 0 0.1%;
    height: 50vh;
    /*height: 250px;*/
    background-color: white;
    border-radius: 20px;
    padding: 1vw;
    word-break: break-all;
    transition: all 0.4s ease 0s;
    cursor: default;
}

    .testimonials-swiper-element:hover {
        background-color: rgb(11, 174, 236);
        color: #fff;
    }

        .testimonials-swiper-element:hover .text_testimonials-swiper_heading {
            color: gold;
        }

.text_testimonials-swiper-element {
    height: 80%;
    overflow-y: auto;
    font-size: calc((1.5vw + 1.5vh)/2);
    display: inline-block;
    word-break: break-all;
    margin: 0;
}

.testimonials-swiper.slick-initialized.slick-slider .slick-prev {
    left: 35% !important;
    top: 110% !important;
}

.testimonials-swiper.slick-initialized.slick-slider .slick-next {
    right: 35% !important;
    top: 110% !important;
}

    .testimonials-swiper.slick-initialized.slick-slider .slick-prev:before,
    .testimonials-swiper.slick-initialized.slick-slider .slick-next:before {
        font-size: 2rem;
    }
/*.testimons-slick-next,
.testimons-slick-prev {
    position: absolute;
    bottom: -10%;
}

.testimons-slick-next {
    transform: translateX(10vw);
}

.testimons-slick-prev {
    transform: translateX(-10vw);
}
*/
@media (max-width:961px) {
    .testimonials-heading {
        font-size: 2rem !important;
    }

    .text_testimonials-swiper_heading {
        font-size: 1.8rem !important;
    }

    .text_testimonials-swiper-element {
        font-size: 1.5rem !important;
    }

    .star_1 {
        padding: 0 !important;
    }

        .star_1 > img {
            width: 1rem !important;
            height: 1rem !important;
        }

    .testimonials-swiper-element {
        width: 300px;
        height: 400px;
    }

    .text_testimonials-swiper_heading {
        display: flex;
        flex-direction: column;
    }
}
